.manage{
	margin-top: 70px;
}

#logout{
	float: right;
}
li{
	margin-top: 5px;
}

#navlist{
	margin-left:10%;
}
#courses{
	margin-left: 30%;
	margin-top: -34px;
}
#prog{
	margin-left: 18%;
	margin-top: 10px;
}
#logout{
	float: right;
	margin-right: 10px;
	margin-top: -39px;
}
#structure{
	margin-left: 39%;
	margin-top: -34px;
}
#containerAdd{
	position: relative;
	width: 300px;
	margin-top: 10%;
	margin-left:20%;

}
#containerRemove{
	width:300px;
	margin-top: -19%;
	margin-left: 60%; 
}
#btnA{
	margin-top: 5px;
}
#bsubmit{
	margin-left: 45%;
	margin-top: 60px;
	font-size: 	20px;	
}